<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-debug1" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logger -->
    <logger name="com.study" level="DEBUG" appender-ref="console" />
    <logger name="org.mybatis" level="INFO"/> <!-- MyBatis SQL 로그를 출력할 로거 -->
    <logger name="java.sql.Connection" level="INFO"/> <!-- JDBC Connection 로그를 출력할 로거 -->
    <logger name="java.sql.PreparedStatement" level="INFO"/> <!-- JDBC PreparedStatement 로그를 출력할 로거 -->
    <logger name="java.sql.ResultSet" level="INFO"/> <!-- JDBC ResultSet 로그를 출력할 로거 -->

    <!-- Root Logger -->
    <root level="DEBUG">
        <appender-ref ref="console-debug1" />
    </root>
</configuration>