<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('게시판')">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>게시판</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css" th:href="@{/styles.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:replace="fragments/common :: menu">

</nav>

<main role="main" class="container my-5">
  <div class="col-lg-8 px-0">
    <p class="fs-5">게시판 </p>
    <form class="row g-3" action="#" th:action="@{/board/form}" th:object="${board}" method="post">
      <input type="hidden" th:field="*{id}" />
      <div class="form-group">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" th:field="*{title}"
        th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
          제목 에러 메시지
        </div>
      </div>
      <div class="form-group">
        <label for="content" class="form-label">내용</label>
        <textarea class="form-control" id="content" rows="3" th:field="*{content}"
                  th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"></textarea>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
          내용 에러 메시지
        </div>
      </div>
      <div class="col-auto">
        <a type="button" class="btn btn-primary mb-3" th:href="@{/board/list}">취소</a>
        <button type="submit" class="btn btn-primary mb-3">확인</button>
      </div>
    </form>


  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="main.js"></script>
</body>
</html>