<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aptit.octagnosis.mapper.AcuntLogMapper">

	<!-- 등록 ********************************************************-->

	<insert id="CretAcuntLog" parameterType="com.aptit.octagnosis.model.AcuntLog">
		INSERT INTO TB_AcuntLog (
			LogId
			, AcuntId
			, ActinDt
			, ActinReasn
			, ActinType
			, ActinRslt
			, ActinFunc
			, InsId
			, InsDt
			, UptId
			, UptDt
		) VALUES (
			nextval(AcuntLog_LogId)
			, #{acuntId}
			, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			, #{actinReasn}
			, #{actinType}
			, #{actinRslt}
			, #{actinFunc}
			, #{insId}
			, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			, #{uptId}
			, #{uptDt}
		)
	</insert>

	<!-- 수정 ********************************************************-->

	<!-- 삭제 ********************************************************-->

	<!-- 조회 ********************************************************-->

	<select id="GetLogId" resultType="long">
		SELECT nextval(AcuntLog_LogId)
	</select>

	<select id="GetAcuntLogById" parameterType="map" resultType="com.aptit.octagnosis.model.AcuntLog">
		SELECT
			LogId
			 , AcuntId
			 , ActinDt
			 , ActinReasn
			 , ActinType
			 , ActinRslt
			 , ActinFunc
			 , InsId
			 , InsDt
			 , UptId
			 , UptDt
		FROM
			TB_AcuntLog
		WHERE
			LogId = #{logId}
	</select>

	<select id="GetAcuntLogListTotCnt" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM
			TB_AcuntLog AS A
			INNER JOIN TB_Mngr AS B ON A.InsId = B.MngrId
		WHERE 1=1
			AND (A.AcuntId = #{acuntId})
			AND (IFNULL(#{actinType}, '') = '' OR A.ActinType = #{actinType})
	</select>

	<select id="GetAcuntLogList" parameterType="map" resultType="hashmap">
		SELECT
			A.LogId
			 , A.AcuntId
			 , A.ActinDt
			 , A.ActinReasn
			 , A.ActinType
			 , A.ActinRslt
			 , A.ActinFunc
			 , A.InsId
			 , A.InsDt
			 , B.MngrNm
			 , fnGetCdNm(A.ActinType)   AS ActinTypeNm
		FROM
			TB_AcuntLog AS A
			INNER JOIN TB_Mngr AS B ON A.InsId = B.MngrId
		WHERE 1=1
		  	AND (A.AcuntId = #{acuntId})
			AND (IFNULL(#{actinType}, '') = '' OR A.ActinType = #{actinType})
		ORDER BY
			A.LogId DESC
		LIMIT #{paging.startRow}, #{paging.rowCntInPage}
	</select>

</mapper>
