<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aptit.octagnosis.mapper.ManagerMapper">

    <resultMap id="managerResultMap" type="com.aptit.octagnosis.model.Manager">
        <id property="mngrId" column="MngrId"/>
        <result property="useYn" column="UseYn"/>
        <!-- Add other properties similarly -->
    </resultMap>

    <select id="getManagerById" resultMap="managerResultMap">
        SELECT *
        FROM TB_Mngr
        WHERE MngrId = #{mngrId}
    </select>

    <select id="getAllManagers" resultMap="managerResultMap">
        SELECT *
        FROM TB_Mngr
    </select>
    <select id="getTotalManagerCount" resultType="int">
        SELECT COUNT(*) FROM TB_Mngr
    </select>
    <!-- 로그인 확인 쿼리 -->
    <select id="findByEmailAndPassword" parameterType="map" resultType="com.aptit.octagnosis.model.Manager">
        SELECT *
        FROM TB_Mngr
        WHERE email = #{email}
          AND pw = #{password}
    </select>

    <select id="checkDuplicateEmail" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM TB_Mngr WHERE email = #{email}
    </select>

    <select id="getManagerCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM
            TB_Mngr
        WHERE 1=1
          AND (
                (IFNULL(#{srchStr}, '') = '' OR mngrNm LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
                OR (IFNULL(#{srchStr}, '') = '' OR phone LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
            )
    </select>

    <select id="getManagerList" parameterType="map" resultType="Manager">
        SELECT * FROM TB_Mngr
        WHERE 1=1
          AND (
                (IFNULL(#{srchStr}, '') = '' OR mngrNm LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
                OR (IFNULL(#{srchStr}, '') = '' OR phone LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
            )
        ORDER BY
            MngrId DESC
            LIMIT #{paging.startRow}, #{paging.rowCntInPage}
    </select>

    <update id="updateManager">
        UPDATE TB_Mngr
        SET
            useYn = #{useYn},
            email = #{email},
            pw = #{pw},
            mngrNm = #{mngrNm},
            phone = #{phone},
            tel = #{tel},
            zip = #{zip},
            addr1 = #{addr1},
            addr2 = #{addr2},
            addr3 = #{addr3},
            addr4 = #{addr4},
            /*authPersn = #{authPersn},
            authRsltView = #{authRsltView},
            authAdmin = #{authAdmin},
            authLogView = #{authLogView},
            authStati = #{authStati},
            authBbs = #{authBbs},
            authOrg = #{authOrg},*/
            uptId = #{uptId},
            uptDt = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
        WHERE MngrId = #{mngrId}
    </update>

    <!-- 삽입 쿼리 -->
    <insert id="saveManager" parameterType="com.aptit.octagnosis.model.Manager">
        INSERT INTO TB_Mngr (
            useYn,
            email,
            pw,
            mngrNm,
            phone,
            tel,
            zip,
            addr1,
            addr2,
            addr3,
            addr4,
            authPersn,
            authRsltView,
            authAdmin,
            authLogView,
            authStati,
            authBbs,
            authOrg,
            insId,
            insDt,
            uptId,
            uptDt
        ) VALUES (
                     #{useYn},
                     #{email},
                     #{pw},
                     #{mngrNm},
                     #{phone},
                     #{tel},
                     #{zip},
                     #{addr1},
                     #{addr2},
                     #{addr3},
                     #{addr4},
                     #{authPersn},
                     #{authRsltView},
                     #{authAdmin},
                     #{authLogView},
                     #{authStati},
                     #{authBbs},
                     #{authOrg},
                     #{insId},
                     DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), -- 현재 날짜와 시간을 문자열로 변환
                     #{uptId},
                     #{uptDt}
                 )
    </insert>

    <update id="updatePassword">
        UPDATE TB_Mngr
        SET pw = #{newPassword}
        WHERE MngrId = #{mngrId}
    </update>


    <update id="updateManagerAuthorization">
        UPDATE TB_Mngr
        SET
        <!-- Only update fields that are provided -->
        <if test="authAdmin != null">authAdmin = #{authAdmin},</if>
        <if test="authOrg != null">authOrg = #{authOrg},</if>
        <if test="authPersn != null">authPersn = #{authPersn},</if>
        <if test="authBbs != null">authBbs = #{authBbs},</if>
        <if test="authRsltView != null">authRsltView = #{authRsltView},</if>
        <if test="authLogView != null">authLogView = #{authLogView},</if>
        <if test="authStati != null">authStati = #{authStati}</if>
        WHERE MngrId = #{mngrId}
    </update>
</mapper>
