<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aptit.octagnosis.mapper.OrgMapper">

	<resultMap id="OrgList" type="com.aptit.octagnosis.model.Org">
		<id property="orgId" column="OrgId"/>
		<result property="useYn" column="UseYn"/>
		<!-- Add other properties similarly -->
	</resultMap>

	<!-- 등록 ********************************************************-->

	<insert id="CretOrg" parameterType="com.aptit.octagnosis.model.Org">
		INSERT INTO TB_Org (
			OrgId
			, BizNum
			, CorpNum
			, CeoNm
			, Zip
			, Addr1
			, Addr2
			, Addr3
			, Addr4
			, CompyNm
			, Tel1
			, Tel2
			, Fax
			, BizType
			, BizSectr
			, MngerNm1
			, MngerPhone1
			, MngerEmail1
			, MngerNm2
			, MngerPhone2
			, MngerEmail2
			, BillEmail
			, MngerTeam1
			, MngerPosit1
			, MngerTeam2
			, MngerPosit2
			, UrlCd
			, InsId
			, InsDt
			, UptId
			, UptDt
		) VALUES (
			 #{orgId}
			, #{bizNum}
			, #{corpNum}
			, #{ceoNm}
			, #{zip}
			, #{addr1}
			, #{addr2}
			, #{addr3}
			, #{addr4}
			, #{compyNm}
			, #{tel1}
			, #{tel2}
			, #{fax}
			, #{bizType}
			, #{bizSectr}
			, #{mngerNm1}
			, #{mngerPhone1}
			, #{mngerEmail1}
			, #{mngerNm2}
			, #{mngerPhone2}
			, #{mngerEmail2}
			, #{billEmail}
			, #{mngerTeam1}
			, #{mngerPosit1}
			, #{mngerTeam2}
			, #{mngerPosit2}
			, #{urlCd}
			, #{insId}
			, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			, #{uptId}
			, #{uptDt}
		)
	</insert>

	<!-- 수정 ********************************************************-->

	<update id="EditOrg" parameterType="com.aptit.octagnosis.model.Org">
		UPDATE TB_Org SET
			BizNum	= #{bizNum}
			, CorpNum	= #{corpNum}
			, CeoNm	= #{ceoNm}
			, Zip	= #{zip}
			, Addr1	= #{addr1}
			, Addr2	= #{addr2}
			, Addr3	= #{addr3}
			, Addr4	= #{addr4}
			, CompyNm	= #{compyNm}
			, Tel1	= #{tel1}
			, Tel2	= #{tel2}
			, Fax	= #{fax}
			, BizType	= #{bizType}
			, BizSectr	= #{bizSectr}
			, MngerNm1	= #{mngerNm1}
			, MngerPhone1	= #{mngerPhone1}
			, MngerEmail1	= #{mngerEmail1}
			, MngerNm2	= #{mngerNm2}
			, MngerPhone2	= #{mngerPhone2}
			, MngerEmail2	= #{mngerEmail2}
			, BillEmail	= #{billEmail}
			, MngerTeam1	= #{mngerTeam1}
			, MngerPosit1	= #{mngerPosit1}
			, MngerTeam2	= #{mngerTeam2}
			, MngerPosit2	= #{mngerPosit2}
			, UrlCd	= #{urlCd}
			, UptId	= #{uptId}
			, UptDt	= #{uptDt}
		WHERE
			OrgId = #{orgId}
	</update>

	<!-- 삭제 ********************************************************-->

	<!-- 조회 ********************************************************-->

	<select id="GetOrgId" resultType="long">
		SELECT nextval(Org_OrgId)
	</select>

	<select id="GetOrgById" parameterType="map" resultType="com.aptit.octagnosis.model.Org">
		SELECT
			OrgId
			 , BizNum
			 , CorpNum
			 , CeoNm
			 , Zip
			 , Addr1
			 , Addr2
			 , Addr3
			 , Addr4
			 , CompyNm
			 , Tel1
			 , Tel2
			 , Fax
			 , BizType
			 , BizSectr
			 , MngerNm1
			 , MngerPhone1
			 , MngerEmail1
			 , MngerNm2
			 , MngerPhone2
			 , MngerEmail2
			 , BillEmail
			 , MngerTeam1
			 , MngerPosit1
			 , MngerTeam2
			 , MngerPosit2
			 , UrlCd
		FROM
			TB_Org
		WHERE
            OrgId = #{orgId}
	</select>

	<select id="GetExistOrg" parameterType="map" resultType="com.aptit.octagnosis.model.Org">
		SELECT
			OrgId
			 , BizNum
			 , CorpNum
			 , CeoNm
			 , Zip
			 , Addr1
			 , Addr2
			 , Addr3
			 , Addr4
			 , CompyNm
			 , Tel1
			 , Tel2
			 , Fax
			 , BizType
			 , BizSectr
			 , UrlCd
		FROM
			TB_Org
		WHERE
			(UrlCd = case when IFNULL(#{urlCd}, '') = '' then UrlCd else #{urlCd} end)
		LIMIT 1

	</select>

	<select id="GetOrgListTotCnt" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM
			TB_Org
		WHERE 1=1
		  AND (
				(IFNULL(#{srchStr}, '') = '' OR CeoNm LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
				OR (IFNULL(#{srchStr}, '') = '' OR CompyNm LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
				OR (IFNULL(#{srchStr}, '') = '' OR MngerNm1 LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
			)
	</select>

	<select id="GetOrgList" parameterType="map" resultType="hashmap">
		SELECT
			A.OrgId
			 , A.BizNum
			 , A.CorpNum
			 , A.CeoNm
			 , A.CompyNm
			 , A.Tel1
			 , A.Tel2
			 , A.MngerNm1
			 , IFNULL(B.TurnId, 0) AS TurnId
			 , IFNULL(B.TurnNum, 0) AS TurnNum
			 , IFNULL(B.TurnReqCnt, 0) AS TurnReqCnt
			 , IFNULL(B.TurnUseCnt, 0) AS TurnUseCnt
			 , IFNULL(B.InsDt, '') AS InsDt
		FROM
			TB_Org AS A
			LEFT OUTER JOIN TB_OrgTurn AS B ON B.OrgId = (
					SELECT AA.OrgId FROM TB_OrgTurn AS AA
					WHERE A.OrgId = AA.OrgId ORDER BY AA.TurnNum DESC LIMIT 1
			)
		WHERE 1=1
		  AND (
				(IFNULL(#{srchStr}, '') = '' OR A.CeoNm LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
				OR (IFNULL(#{srchStr}, '') = '' OR A.CompyNm LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
				OR (IFNULL(#{srchStr}, '') = '' OR A.MngerNm1 LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
			)
		ORDER BY
			A.OrgId DESC
		LIMIT #{paging.startRow}, #{paging.limit}
	</select>

</mapper>
