<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.orgTurn//DTD Mapper 3.0//EN" "http://mybatis.orgTurn/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aptit.octagnosis.mapper.OrgTurnMapper">

	<resultMap id="OrgTurnList" type="com.aptit.octagnosis.model.OrgTurn">
		<id property="turnId" column="TurnId"/>
		<result property="useYn" column="UseYn"/>
		<!-- Add other properties similarly -->
	</resultMap>

	<!-- 등록 ********************************************************-->

	<insert id="cretOrgTurn" parameterType="com.aptit.octagnosis.model.OrgTurn">
		INSERT INTO TB_OrgTurn (
			OrgId
			, TurnId
			, UseYn
			, ProdtId
			, TurnNum
			, TurnReqCnt
			, TurnUseCnt
			, TurnConnCd
			, ValidEndDt
			, InsId
			, InsDt
			, UptId
			, UptDt
		) VALUES (
			#{orgId}
			, nextval(OrgTurn_TurnId)
			, #{useYn}
			, #{prodtId}
			, #{turnNum}
			, #{turnReqCnt}
			, #{turnUseCnt}
			, #{turnConnCd}
			, #{validEndDt}
			, #{insId}
			, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			, #{uptId}
			, #{uptDt}
		)
	</insert>

	<!-- 수정 ********************************************************-->

	<update id="editOrgTurn" parameterType="com.aptit.octagnosis.model.OrgTurn">
		UPDATE TB_OrgTurn SET
			UseYn	=	#{useYn}
			, TurnNum	=	#{turnNum}
			, TurnReqCnt	=	#{turnReqCnt}
			, TurnUseCnt	=	#{turnUseCnt}
			, TurnConnCd	=	#{turnConnCd}
			, UptId	=	#{uptId}
			, UptDt	=	DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
		WHERE
			OrgId = #{orgId}
			AND TurnId = #{turnId}
	</update>

	<update id="editOrgTurnUse" parameterType="com.aptit.octagnosis.modelParm.OrgTurnParm">
		UPDATE TB_OrgTurn SET
			UseYn	=	#{useYn}
			, UptId	=	#{userId}
			, UptDt	=	DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
		WHERE
			OrgId = #{orgId}
			AND TurnId = #{turnId}
	</update>


	<!-- 삭제 ********************************************************-->

	<!-- 조회 ********************************************************-->

	<select id="getOrgTurn" parameterType="map" resultType="com.aptit.octagnosis.model.OrgTurn">
		SELECT
			OrgId
			, TurnId
			, UseYn
			, TurnNum
			, TurnReqCnt
			, TurnUseCnt
			, TurnConnCd
			, ValidEndDt
			, InsId
			, InsDt
			, UptId
			, UptDt
		FROM
			TB_OrgTurn
		WHERE
			OrgId = #{orgId}
			AND TurnId = #{turnId}
	</select>

	<select id="getOrgMaxTurn" parameterType="map" resultType="com.aptit.octagnosis.model.OrgTurn">
		SELECT
			OrgId
			, TurnId
			, UseYn
			, TurnNum
			, TurnReqCnt
			, TurnUseCnt
			, TurnConnCd
			, ValidEndDt
			, InsDt
		FROM
			TB_OrgTurn
		WHERE
			OrgId = #{orgId}
		ORDER BY
			TurnNum DESC
		LIMIT 1
	</select>

	<select id="getExistTurnConnCd" parameterType="map" resultType="com.aptit.octagnosis.model.OrgTurn">
		SELECT
			OrgId
			, TurnId
			, UseYn
			, TurnNum
			, TurnReqCnt
			, TurnUseCnt
			, TurnConnCd
			, ValidEndDt
			, InsId
			, InsDt
			, UptId
			, UptDt
		FROM
			TB_OrgTurn
		WHERE
			TurnConnCd = #{turnConnCd}
		LIMIT 1
	</select>

	<select id="getOrgTurnList" parameterType="map" resultType="hashmap">
		SELECT
			A.TurnId
			, A.UseYn
			, A.TurnNum
			, A.TurnReqCnt
			, (SELECT COUNT(*) FROM TB_OrgTurnPersn WHERE OrgId = A.OrgId AND TurnId = A.TurnId ) AS TurnUseCnt
			, A.TurnConnCd
			, A.ValidEndDt
			, A.insDt
		FROM
			TB_OrgTurn A
		WHERE
			A.OrgId = #{orgId}
		ORDER BY
			A.TurnId DESC
	</select>

	<select id="getOrgTurnPersnTotCnt" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM
			TB_OrgTurnPersn
		WHERE 1=1
			AND OrgId = #{orgId}
			AND TurnId = #{turnId}
		</select>

	<select id="getOrgTurnPersnList" parameterType="map" resultType="hashmap">
		SELECT
			A.PersnId
			, A.StartDt
			, A.EndDt
			, B.PersnNm
			, B.Phone
			, B.Email
		FROM
			TB_OrgTurnPersn  A
			INNER JOIN TB_Persn B ON A.PersnId = B.PersnId
		WHERE 1=1
			AND A.OrgId = #{orgId}
			AND A.TurnId = #{turnId}
		ORDER BY
			A.PersnId DESC
		LIMIT #{paging.startRow}, #{paging.rowCntInPage}
	</select>

	<!-- 기타 ********************************************************-->


</mapper>
