<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aptit.octagnosis.mapper.PaymentMapper">

    <insert id="savePayment" parameterType="com.aptit.octagnosis.model.ProdtPay" useGeneratedKeys="true" keyProperty="payId">
        INSERT INTO TB_ProdtPay (DutyYn, StudyYn, SubjYn, ImgYn, AcuntId, ProdId, ProdType, Price, PayDt, OrgId, TurnId, PayYn, InsId, InsDt, UptId, UptDt)
        VALUES (#{dutyYn}, #{studyYn}, #{subjYn}, #{imgYn}, #{acuntId}, #{prodId}, #{prodType}, #{price}, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), #{orgId}, #{turnId}, #{payYn}, #{insId}, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s'), #{uptId}, #{uptDt})
        <selectKey keyProperty="payId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID() AS payId
        </selectKey>
    </insert>



    <select id="findAllPayments" resultType="com.aptit.octagnosis.model.ProdtPayDetail">
        SELECT
            p.PayId, p.DutyYn, p.StudyYn, p.SubjYn, p.ImgYn, p.AcuntId, p.prodType,
            c.CdNm AS prodTypeName, s.PersnNm,
            p.Price, p.PayDt, p.OrgId, p.TurnId, p.PayYn,
            p.InsId, p.InsDt, p.UptId, p.UptDt
        FROM TB_ProdtPay p
            INNER JOIN TB_Cd c ON p.ProdType = c.Cd
            INNER JOIN TB_Acunt a ON p.AcuntId = a.AcuntId
            INNER JOIN TB_Persn s ON a.UserId = s.PersnId
        WHERE PayYn = 'Y'
    </select>
</mapper>
