<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aptit.octagnosis.mapper.PaymentMapper">

    <insert id="savePayment" parameterType="com.aptit.octagnosis.model.ProdtPay" useGeneratedKeys="true" keyProperty="payId">
        INSERT INTO TB_ProdtPay (DutyYn, StudyYn, SubjYn, ImgYn, AcuntId, ProdId, ProdType, Price, PayDt, OrgId, TurnId, PayYn, InsId, InsDt, UptId, UptDt)
        VALUES (#{dutyYn}, #{studyYn}, #{subjYn}, #{imgYn}, #{acuntId}, #{prodId}, #{prodType}, #{price}, #{payDt}, #{orgId}, #{turnId}, #{payYn}, #{insId}, #{insDt}, #{uptId}, #{uptDt})
        <selectKey keyProperty="payId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID() AS payId
        </selectKey>
    </insert>

</mapper>
