<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aptit.octagnosis.mapper.PersonalMapper">

    <select id="getPersonalList2" resultType="Personal" parameterType="map">
        SELECT * FROM TB_Persn
        ORDER BY PersnId DESC
            LIMIT #{start, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER}
    </select>

    <select id="getPersonalCount2" resultType="int">
        SELECT COUNT(*) FROM TB_Persn
    </select>


    <select id="getPersonalCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM
            TB_Persn
        WHERE 1=1
          AND (
                (IFNULL(#{srchStr}, '') = '' OR PersnNm LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
                OR (IFNULL(#{srchStr}, '') = '' OR Phone LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
            )
    </select>

    <select id="getPersonalList" parameterType="map" resultType="Personal">
        SELECT * FROM TB_Persn
        WHERE 1=1
          AND (
                (IFNULL(#{srchStr}, '') = '' OR PersnNm LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
                OR (IFNULL(#{srchStr}, '') = '' OR Phone LIKE CONCAT('%', IFNULL(#{srchStr}, ''), '%'))
            )
        ORDER BY
            PersnId DESC
            LIMIT #{paging.startRow}, #{paging.rowCntInPage}
    </select>


    <select id="getPersonalById" resultType="Personal">
        SELECT *
        FROM TB_Persn
        WHERE PersnId = #{persnId}
    </select>


    <resultMap id="accountResultMap" type="java.util.Map">
        <result column="AcuntId" property="acuntId"/>
        <result column="UserType" property="userType"/>
        <result column="UserId" property="userId"/>
        <result column="Pw" property="pw"/>
        <result column="UseYn" property="useYn"/>
        <result column="RegDt" property="regDt"/>
        <result column="LeaveDt" property="leaveDt"/>
        <result column="ExpirDt" property="expirDt"/>
        <result column="TermsUse" property="termsUse"/>
        <result column="TermsPersn" property="termsPersn"/>
        <result column="TermsEvent" property="termsEvent"/>
        <result column="InsId" property="insId"/>
        <result column="InsDt" property="insDt"/>
        <result column="UptId" property="uptId"/>
        <result column="UptDt" property="uptDt"/>
    </resultMap>

    <resultMap id="persnResultMap" type="java.util.Map">
        <result column="PersnId" property="persnId"/>
        <result column="PersnNm" property="persnNm"/>
        <result column="BirthDate" property="birthDate"/>
        <result column="BirthYear" property="birthYear"/>
        <result column="BirthMonth" property="birthMonth"/>
        <result column="BirthDay" property="birthDay"/>
        <result column="Sex" property="sex"/>
        <result column="Phone" property="phone"/>
        <result column="Tel" property="tel"/>
        <result column="Email" property="email"/>
        <result column="Zip" property="zip"/>
        <result column="RoadAddr1" property="roadAddr1"/>
        <result column="RoadAddr2" property="roadAddr2"/>
        <result column="StretAddr1" property="stretAddr1"/>
        <result column="StretAddr2" property="stretAddr2"/>
        <result column="Educt" property="educt"/>
        <result column="Job" property="job"/>
        <result column="ScholNm" property="scholNm"/>
        <result column="ScholMajor" property="scholMajor"/>
        <result column="ScholGrade" property="scholGrade"/>
        <result column="JobNm" property="jobNm"/>
        <result column="JobDuty" property="jobDuty"/>
        <result column="InsId" property="insId"/>
        <result column="InsDt" property="insDt"/>
        <result column="UptId" property="uptId"/>
        <result column="UptDt" property="uptDt"/>
    </resultMap>

    <select id="selectPersnByUserIdAndType" parameterType="map" resultType="hashmap">
        SELECT
            A.AcuntId,
            A.UserType,
            A.UserId,
            A.Pw,
            A.UseYn,
            A.RegDt,
            A.LeaveDt,
            A.ExpirDt,
            A.TermsUse,
            A.TermsPersn,
            A.TermsEvent,
            A.InsId,
            A.InsDt,
            A.UptId,
            A.UptDt,
            B.PersnId,
            B.PersnNm,
            B.BirthDate,
            B.BirthYear,
            B.BirthMonth,
            B.BirthDay,
            B.Sex,
            B.Phone,
            B.Tel,
            B.Email,
            B.Zip,
            B.RoadAddr1,
            B.RoadAddr2,
            B.StretAddr1,
            B.StretAddr2,
            B.Educt,
            B.Job,
            B.ScholNm,
            B.ScholMajor,
            B.ScholGrade,
            B.JobNm,
            B.JobDuty,
            B.InsId AS PersnInsId,
            B.InsDt AS PersnInsDt,
            B.UptId AS PersnUptId,
            B.UptDt AS PersnUptDt
        FROM
            TB_Acunt A
                INNER JOIN TB_Persn B ON A.UserId = B.PersnId
        WHERE
            A.UserType = 'C00102' AND B.PersnId = #{PersnId}
    </select>

    <select id="getAccountlById" resultType="Acunt">
        SELECT *
        FROM TB_Acunt
        WHERE UserId = #{persnId}
    </select>

    <update id="accountUpdatePassword">
        UPDATE TB_Acunt
        SET Pw = #{newPassword}
        WHERE UserId = #{persnId}
    </update>


    <update id="updatePersonalData" parameterType="com.aptit.octagnosis.model.Personal">
        UPDATE TB_Persn
        SET
            PersnNm = #{persnNm},
            BirthDate = #{birthDate},
            BirthYear = #{birthYear},
            BirthMonth = #{birthMonth},
            BirthDay = #{birthDay},
            Sex = #{sex},
            Phone = #{phone},
            Tel = #{tel},
            Email = #{email},
            Zip = #{zip},
            RoadAddr1 = #{roadAddr1},
            RoadAddr2 = #{roadAddr2},
            StretAddr1 = #{stretAddr1},
            StretAddr2 = #{stretAddr2},
            Educt = #{educt},
            Job = #{job},
            ScholNm = #{scholNm},
            ScholMajor = #{scholMajor},
            ScholGrade = #{scholGrade},
            JobNm = #{jobNm},
            JobDuty = #{jobDuty},
            UptId = #{uptId},
            UptDt = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
        WHERE PersnId = #{persnId}
    </update>

    <update id="updateAccountExpirDt">
        UPDATE TB_Acunt
        SET ExpirDt = #{expirDt}
        WHERE UserId = #{persnId}
    </update>
</mapper>