<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aptit.octagnosis.mapper.PersonalMapper">

    <select id="getPersonalList" resultType="Personal" parameterType="map">
        SELECT * FROM TB_Persn
        ORDER BY PersnId DESC
            LIMIT #{start, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER}
    </select>

    <select id="getPersonalCount" resultType="int">
        SELECT COUNT(*) FROM TB_Persn
    </select>

</mapper>