<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aptit.octagnosis.mapper.QuestMapper">


	<!-- 등록 ********************************************************-->

	<insert id="cretTest" parameterType="com.aptit.octagnosis.model.Test">
		INSERT INTO TB_Test (
			testId
			, testNm
			, seq
			, insId
			, insDt
			, uptId
			, uptDt
		) VALUES (
			nextval(Test_TestId)
			, #{testNm}
			, #{seq}
			, #{insId}
			, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			, null
			, null
		)
	</insert>

	<insert id="cretQuestPage" parameterType="com.aptit.octagnosis.model.QuestPage">
		INSERT INTO TB_QuestPage (
			testId
			, questPageId
			, questPageNm
			, questPageSeq
			, questPageType
			, insId
			, insDt
			, uptId
			, uptDt
		) VALUES (
			#{testId}
			, nextval(QuestPage_QuestPageId)
			, #{questPageNm}
			, #{questPageSeq}
			, #{questPageType}
			, #{insId}
			, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			, null
			, null
		)
	</insert>

	<insert id="cretQuest" parameterType="com.aptit.octagnosis.model.Quest">
		INSERT INTO TB_Quest (
			testId
			, questPageId
			, questId
			, questNo
			, questCont1
			, questCont2
			, questCont3
			, questType
			, questAttrCd1
			, questAttrCd2
			, waitSec
			, itemColCnt
			, imgColCnt
			, useYn
			, insId
			, insDt
			, uptId
			, uptDt
		) VALUES (
			 #{testId}
			 , #{questPageId}
			 , nextval(Quest_QuestId)
			 , #{questNo}
			 , #{questCont1}
			 , #{questCont2}
			 , #{questCont3}
			 , #{questType}
			 , #{questAttrCd1}
			 , #{questAttrCd2}
			 , #{waitSec}
			 , #{itemColCnt}
			 , #{imgColCnt}
			 , #{useYn}
			 , #{insId}
			 , DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			 , null
			 , null
		)
	</insert>

	<!-- 수정 ********************************************************-->

	<update id="editTest" parameterType="com.aptit.octagnosis.model.Test">
		UPDATE TB_Test SET
			testNm = #{testNm}
			, seq = #{seq}
			, uptId	= #{uptId}
			, uptDt	= DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
		WHERE
			TestId = #{testId}
	</update>

	<update id="editQuestPage" parameterType="com.aptit.octagnosis.model.QuestPage">
		UPDATE TB_QuestPage SET
			questPageNm = #{questPageNm}
			, questPageSeq = #{questPageSeq}
			, questPageType = #{questPageType}
			, uptId	= #{uptId}
			, uptDt	= DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
		WHERE
			QuestPageId = #{questPageId}
	</update>

	<update id="editQuest" parameterType="com.aptit.octagnosis.model.Quest">
		UPDATE TB_Quest SET
			questPageId =  #{questPageId}
			, questNo =  #{questNo}
			, questCont1 =  #{questCont1}
			, questCont2 =  #{questCont2}
			, questCont3 =  #{questCont3}
			, questType =  #{questType}
			, questAttrCd1 =  #{questAttrCd1}
			, questAttrCd2 =  #{questAttrCd2}
			, waitSec =  #{waitSec}
			, itemColCnt =  #{itemColCnt}
			, imgColCnt =  #{imgColCnt}
			, useYn =  #{useYn}
			, uptId	= #{uptId}
			, uptDt	= DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
		WHERE
			QuestId = #{questId}
	</update>

	<!-- 삭제 ********************************************************-->

	<update id="delTest" parameterType="com.aptit.octagnosis.model.QuestParm">
		DELETE FROM TB_Test
		WHERE
			TestId = #{testId}
	</update>

	<update id="delQuestPage" parameterType="com.aptit.octagnosis.model.QuestParm">
		DELETE FROM TB_QuestPage
		WHERE
			TestId = #{testId}
			AND QuestPageId = #{questPageId}
	</update>

	<!-- 조회 ********************************************************-->

	<select id="getTest" parameterType="map" resultType="com.aptit.octagnosis.model.Test">
		SELECT
			testId
			 , testNm
			 , seq
		FROM
			TB_Test
		WHERE
			TestId = #{testId}
	</select>

	<select id="getTestList" parameterType="map" resultType="hashmap">
		SELECT
			testId
			 , testNm
			 , seq
		FROM
			TB_Test
		ORDER BY
			Seq
	</select>

	<select id="getQuestPage" parameterType="map" resultType="com.aptit.octagnosis.model.QuestPage">
		SELECT
			testId
			 , questPageId
			 , questPageNm
			 , questPageSeq
			 , questPageType
		FROM
			TB_QuestPage
		WHERE
			TestId = #{testId}
			AND QuestPageId = #{questPageId}
	</select>


	<select id="getQuestPageList" parameterType="map" resultType="com.aptit.octagnosis.model.QuestPageV1">
		SELECT
			A.testId
			 , A.questPageId
			 , A.questPageNm
			 , A.questPageSeq
			 , A.questPageType
			 , fnGetCdNm(A.questPageType)   AS questPageTypeNm
		FROM
			TB_QuestPage A
		WHERE
			A.testId = #{testId}
		ORDER BY
			A.questPageSeq
	</select>

	<select id="getQuestAttrList" resultType="hashmap">
		SELECT
			A.questType
			 , A.questAttrCd
			 , A.questAttrNm
			 , A.totScore
			 , A.cutLine
			 , A.seq
			 , fnGetCdNm(A.questType)   AS questTypeNm
		FROM
			TB_QuestAttr A
		ORDER BY
			A.questType, A.seq

	</select>

	<select id="getQuestList" parameterType="map" resultType="com.aptit.octagnosis.model.QuestV1">
		SELECT
			testId
			 , questPageId
			 , questId
			 , questNo
			 , questCont1
			 , questCont2
			 , questCont3
			 , questType
			 , questAttrCd1
			 , questAttrCd2
			 , waitSec
			 , itemColCnt
			 , imgColCnt
			 , useYn
			 , fnGetCdNm(questType)   AS questTypeNm
			 , fnGetQuestAttrNm(questAttrCd1) AS questAttrCd1Nm
			 , fnGetQuestAttrNm(questAttrCd2) AS questAttrCd2Nm
		FROM
			TB_Quest
		WHERE
			TestId = #{testId}
		  	AND QuestPageId = #{questPageId}
	</select>

	<select id="getQuest" parameterType="map" resultType="com.aptit.octagnosis.model.Quest">
		SELECT
			testId
			 , questPageId
			 , questId
			 , questNo
			 , questCont1
			 , questCont2
			 , questCont3
			 , questType
			 , questAttrCd1
			 , questAttrCd2
			 , waitSec
			 , itemColCnt
			 , imgColCnt
			 , useYn
		FROM
			TB_Quest
		WHERE
			TestId = #{testId}
		  AND QuestPageId = #{questPageId}
		  AND QuestId = #{questId}
	</select>



	<!-- 기타 ********************************************************-->

</mapper>
