<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aptit.octagnosis.mapper.TestMapper">


	<!-- 등록 ********************************************************-->

	<insert id="cretAnsPrgrs" parameterType="com.aptit.octagnosis.model.AnsPrgrs">
		INSERT INTO TB_AnsPrgrs (
			AnsPrgrsId
			, TestId
			, QuestPageId
			, StartDt
			, EndDt
			, DoneYn
			, AcuntId
			, ProdtId
			, TurnId
			, PayId
			, InsId
			, InsDt
			, UptId
			, UptDt
		) VALUES (
			#{ansPrgrsId}
			, #{testId}
			, #{questPageId}
			, #{startDt}
			, #{endDt}
			, #{doneYn}
			, #{acuntId}
			, #{prodtId}
			, #{turnId}
			, #{payId}
			, #{insId}
			, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			, #{uptId}
			, #{uptDt}
		)
	</insert>

	<insert id="cretAns" parameterType="com.aptit.octagnosis.model.Ans">
		INSERT INTO TB_Ans (
			AnsPrgrsId
			, QuestId
			, Val1
			, Val2
			, Weigt
			, InsId
			, InsDt
			, UptId
			, UptDt
		) VALUES (
			#{ansPrgrsId}
			, #{questId}
			, #{val1}
			, #{val2}
			, #{weigt}
			, #{insId}
			, DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			, #{uptId}
			, #{uptDt}
		)
	</insert>

	<insert id="cretOrgTurnPersn" parameterType="com.aptit.octagnosis.model.OrgTurnPersn">
		INSERT INTO TB_OrgTurnPersn (
			OrgId
			, TurnId
			, PersnId
			, RegDt
			, StartDt
			, EndDt
			, InsId
			, InsDt
			, UptId
			, UptDt
		) VALUES (
			 #{orgId}
			 , #{turnId}
			 , #{persnId}
			 , #{regDt}
			 , #{startDt}
			 , #{endDt}
			 , #{insId}
			 , DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
			 , #{uptId}
			 , #{uptDt}
		 )
	</insert>

	<!-- 수정 ********************************************************-->

	<update id="editAnsPrgrs" parameterType="map">
		UPDATE TB_AnsPrgrs SET
			TestId = #{testId}
			, QuestPageId = #{questPageId}
			, UptId	= #{uptId}
			, UptDt	= DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
		WHERE
			AnsPrgrsId = #{ansPrgrsId}
	</update>

	<update id="editAnsPrgrsComplete" parameterType="map">
		UPDATE TB_AnsPrgrs SET
			DoneYn = 'Y'
			, EndDt = #{endDt}
			, UptId	= #{uptId}
			, UptDt	= DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
		WHERE
			AnsPrgrsId = #{ansPrgrsId}
	</update>

	<update id="editOrgTurnPersnComplete" parameterType="map">
		UPDATE TB_OrgTurnPersn SET
			 EndDt = #{endDt}
			 , UptId	= #{uptId}
			 , UptDt	= DATE_FORMAT(NOW(), '%Y%m%d%H%i%s')
		WHERE
			OrgId = #{orgId}
			AND TurnId = #{turnId}
			AND PersnId = #{persnId}
	</update>


	<!-- 삭제 ********************************************************-->

	<update id="delAns" parameterType="map">
		DELETE FROM TB_Ans
		WHERE
			AnsPrgrsId = #{ansPrgrsId}
			AND QuestId = #{questId}
	</update>

	<!-- 조회 ********************************************************-->

	<select id="getAnsPrgrsId" resultType="long">
		SELECT nextval(AnsPrgrs_AnsPrgrsId)
	</select>

	<!-- 기관 회차 검사 목록 -->
	<select id="getTestListForTurn" parameterType="map" resultType="hashmap">
		SELECT
			A.TurnId
			, A.TurnNum
			, A.TurnReqCnt
			, A.TurnUseCnt
			, A.ValidEndDt
			, A.ProdtId
			, IFNULL(B.RegDt, '') 	AS RegDt
			, IFNULL(B.StartDt, '') AS StartDt
			, IFNULL(B.EndDt, '') 	AS EndDt
			, (SELECT ProdtNm FROM TB_Prodt WHERE ProdtCate = 'C01101' LIMIT 1 ) AS ProdtNm
			, IFNULL(C.AnsPrgrsId, '0') 	AS AnsPrgrsId
			, IFNULL(C.TestId, '0') 		AS TestId
			, IFNULL(C.QuestPageId, '0') 	AS QuestPageId
			, IFNULL(C.StartDt, '') 		AS AnsPrgrsStartDt
			, IFNULL(C.EndDt, '') 			AS AnsPrgrsEndDt
			, IFNULL(C.DoneYn, 'N') 		AS AnsPrgrsDoneYn
			, '0'							AS PayId
		FROM
			TB_OrgTurn  A
			LEFT OUTER JOIN (
				SELECT
					OrgId
					, TurnId
					, RegDt
					, StartDt
					, EndDt
				FROM
					TB_OrgTurnPersn
				WHERE
					OrgId = #{orgId}
					AND PersnId = #{persnId}
			) B ON A.OrgId = B.OrgId AND A.TurnId = B.TurnId
			LEFT OUTER JOIN (
				SELECT
					AnsPrgrsId
			    	, TurnId
					, TestId
					, QuestPageId
					, StartDt
					, EndDt
					, DoneYn
				FROM
					TB_AnsPrgrs
				WHERE
					AcuntId = #{acuntId}
			) C ON A.TurnId = C.TurnId
		WHERE
			A.OrgId = #{orgId}
			AND A.UseYn = 'Y'
			AND A.TurnConnCd = #{turnConnCd}
	</select>

	<!-- 개인 상품구매 검사 목록 -->
	<select id="getTestList" parameterType="map" resultType="hashmap">
		SELECT
			ROW_NUMBER() OVER ( ORDER BY pp.PayId DESC) AS num
			, pp.PayId 							AS PayId
			 , pp.Price 						AS Price
			 , pp.PayYn 						AS PayYn
			 , pp.prodType 						AS ProdType
			 , pt.ProdtNm 						AS ProdtNm
			 , IFNULL(ap.AnsPrgrsId, '0') 		AS AnsPrgrsId
			 , IFNULL(ap.StartDt, '') 			AS AnsPrgrsStartDt
			 , IFNULL(ap.EndDt, '') 			AS AnsPrgrsEndDt
			 , IFNULL(ap.DoneYn, 'N') 			AS AnsPrgrsDoneYn
			 , IFNULL(ap.TestId, '0') 			AS TestId
			 , STR_TO_DATE(ac.ExpirDt, '%Y%m%d') AS ExpirDt
			 , pt.ProdtId						AS ProdtId
			 , IFNULL(ap.StartDt, '') 			AS RegDt
			 , '0'								AS TurnId
		FROM
			TB_ProdtPay pp
				LEFT OUTER JOIN TB_AnsPrgrs ap ON ap.PayId = pp.PayId,
			TB_Prodt pt,
			TB_Acunt ac
		WHERE
			pp.ProdId = pt.ProdtId
		  AND pp.AcuntId = ac.AcuntId
		  AND ac.AcuntId = #{acuntId}
		  AND pp.PayYn = 'Y'
	</select>

	<select id="getFirstTest" parameterType="map" resultType="ProdtTest">
		SELECT
			TestId
			 , Seq
		FROM
			TB_ProdtTest
		WHERE
			ProdtId = #{prodtId}
		ORDER BY
			Seq
		LIMIT 1
	</select>


	<!-- 다음 검사지 -->
	<select id="getNextTest" parameterType="map" resultType="ProdtTest">
		SELECT
			TestId
			, Seq
		FROM
			TB_ProdtTest
		WHERE
			ProdtId = #{prodtId}
			AND Seq > IFNULL((SELECT Seq FROM TB_ProdtTest WHERE ProdtId = #{prodtId} AND TestId = #{testId}), 0)
		ORDER BY
			Seq
		LIMIT 1
	</select>

	<!-- 다음 검사지 -->
	<select id="getNextQuestPage" parameterType="map" resultType="QuestPage">
		SELECT
			TestId
			, QuestPageId
			, QuestPageSeq
		FROM
		    TB_QuestPage
		WHERE
			TestId = #{testId}
			AND QuestPageSeq > IFNULL((SELECT QuestPageSeq FROM TB_QuestPage WHERE TestId = #{testId} AND QuestPageId = #{questPageId}), 0)
		ORDER BY
			QuestPageSeq
		LIMIT 1
	</select>

	<select id="getQuestItem" parameterType="map" resultType="com.aptit.octagnosis.model.QuestItem">
		SELECT
			A.QuestId
			 , A.ItemId
			 , A.ItemType
			 , A.Conts
			 , A.ImgNm
			 , A.Seq
			 , A.Weigt
		FROM
			TB_QuestItem  A
		WHERE
		  A.QuestId = #{questId}
		  AND A.ItemId = #{itemId}
	</select>


	<select id="getAnsPrgrs" parameterType="map" resultType="com.aptit.octagnosis.model.AnsPrgrs">
		SELECT
			A.AnsPrgrsId
			 , A.TestId
			 , A.QuestPageId
			 , A.StartDt
			 , A.EndDt
			 , A.DoneYn
			 , A.AcuntId
			 , A.ProdtId
			 , A.TurnId
			 , A.PayId
		FROM
			TB_AnsPrgrs  A
		WHERE
			A.AnsPrgrsId = #{ansPrgrsId}
	</select>

	<!-- 기관회차 / PayId 로 답변지 조회 -->
	<select id="getAnsPrgrsForValid" parameterType="map" resultType="com.aptit.octagnosis.model.AnsPrgrs">
		SELECT
			A.AnsPrgrsId
			 , A.TestId
			 , A.QuestPageId
			 , A.StartDt
			 , A.EndDt
			 , A.DoneYn
			 , A.AcuntId
			 , A.ProdtId
			 , A.TurnId
			 , A.PayId
		FROM
			TB_AnsPrgrs  A
		WHERE
			A.AcuntId = #{acuntId}
		  AND (#{turnId} = 0 OR A.TurnId = #{turnId})
		  AND (#{payId} = 0 OR A.PayId = #{payId})
	</select>


	<!-- 기타 ********************************************************-->

</mapper>
